@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
//Enable Flexgrid
@include foundation-flex-grid;
@include foundation-flex-classes;
//
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// body, p, a {
//   @include breakpoint(small only) {
//     font-size: 1.2rem;
//   };
// }

/* Navigation - Top Bar  */
.top-bar {
  width: 100%;
  ul {
    li {
      a, .button {
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: bold;
        background-color: transparent;
        @include breakpoint(small) {
          padding-left: 0;
        }
      }
    }
  }
}

/* Hero image */
.hero {
  background-size: cover;
  height: 66vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -100;
  overflow: hidden;
  @include breakpoint(small only) {
    background: url(../img/steve_runs_comp.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 10;
    }


  h1 {
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    span {
      font-weight: 400;
      letter-spacing: .5rem;
      font-style: italic;
    }
  }
  .tagline {
    color: $white;
  }

  .bg_video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include breakpoint(small only) {
      display: none;
    }
  }

  .logotype {
    z-index: 100;
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.main-section {
  padding-top: 2rem;
  h2, h3, h4 {
    text-transform: uppercase;
    color: $dark-gray;
  }
  h2 {
    &:first-of-type {
      padding-top: 3rem;
    }

  }
}

/* Project list */
.project-list-item {
  @include grid-row;
  padding: 2rem 0;
}
.project-header, .project-body {
  @include grid-row;
}
.project-title {
  span {
    font-weight: normal;
    font-size: 1rem;
    @include breakpoint(small) {
      font-size: .8rem;
      display: block;
    }
  }
}
.project-image {
  @include grid-column(12);
  @include breakpoint(large up) {
    @include grid-column(8);
  }
}
.project-description {
  @include grid-column(12);
  @include breakpoint(large up) {
    @include grid-column(4);
  }
}

/* Past Projects */
.film-detail {
}


#about-us {
  .accordion-title, .accordion-content {
    color: $body-font-color;
  }
  .accordion-title {
    color: $dark-gray;
  }
}

/* People List */
#people-list {
  .accordion-title {
    font-size: 1.2rem;
    border: none;
  }
}

/* Footer styles */
#footer {
  height: 40vh;

  p {
    text-align: center;
    font-size: .7rem;
    color: $dark-gray;
  }
}
