<section class="bios main-section" id="bios">
  <div class="bio-item" id="bio-cec">
    <h4>Cecily Pingree</h4>
    <p>Cecily is a director, producer, and cinematographer of non-fiction films. She began her film career with Big Mouth Productions in New York City in 2004. Cecily has worked all over the world covering a wide variety of environmental, social, and humanitarian topics. She was invited to participate in the Sundance Creative Producer Labs and was the recipient of the Maine Arts Commission’s Media and Performing Arts Fellowship.</p>
    <ul class="bio-links menu">
      <li><a href="https://www.facebook.com/cecily.pingree" class="link-fb"><i class="fa fa-facebook" aria-hidden="true" title="Link to Facebook"></i><span class="sr-only">Facebook</span></a></li>
      <!-- <li><a href="#" class="link-tw"><i class="fa fa-twitter" aria-hidden="true" title="Link to Twitter"></i><span class="sr-only">Twitter</span></a></li> -->
      <li><a href="https://vimeo.com/pullstart" class="link-vm"><i class="fa fa-vimeo" aria-hidden="true" title="Link to Vimeo"></i><span class="sr-only">Vimeo</span></a></li>
    </ul>
  </div>

  <div class="bio-item" id="bio-jas">
    <h4>Jason Mann</h4>
    <p>Jason co-produced &amp; co-directed "Betting The Farm," a feature documentary about struggling Maine dairy farmers, which premiered at the AFI-Discovery Channel Silverdocs Film Festival. He was director of photography and co-producer of "Lost Souls (Animas Perdidas)," which aired nationally on Independent Lens. Jason lives in Maine with his wife, two crazy kids, and cantankerous black Lab.</p>
    <ul class="bio-links menu">
      <li><a href="https://twitter.com/jasonlmann" class="link-tw"><i class="fa fa-twitter" aria-hidden="true" title="Link to Twitter"></i><span class="sr-only">Twitter</span></a></li>
    </ul>
  </div>

  <div class="bio-item" id="bio-linds">
    <h4>Lindsay Steven Mann</h4>
    <p>As a director, cinematographer, and editor, Lindsay has worked with The New York Times, Sports Illustrated, Rolling Stone Magazine, and PBS. He has filmed Bruce Springsteen in Asbury Park, operated for Haskell Wexler, ASC., and assisted on Martin Scorsese's "Shine a Light." Lindsay studied film at Boston University. He lives and works in Portland, ME and Brooklyn, NY with his wife and daughter.</p>
    <ul class="bio-links menu">
      <li><a href="https://www.facebook.com/lindsay.mann.35" class="link-fb"><i class="fa fa-facebook" aria-hidden="true" title="Link to Facebook"></i><span class="sr-only">Facebook</span></a></li>
      <li><a href="https://twitter.com/BeechwoodFilm" class="link-tw"><i class="fa fa-twitter" aria-hidden="true" title="Link to Twitter"></i><span class="sr-only">Twitter</span></a></li>
      <li><a href="https://vimeo.com/beechwoodfilm" class="link-vm"><i class="fa fa-vimeo" aria-hidden="true" title="Link to Vimeo"></i><span class="sr-only">Vimeo</span></a></li>
    </ul>
  </div>
</section>
