<section class="main-section" id="contact">
  <div class="row">
    <div class="columns text-center">
      <h2>Contact us</h2>
      <p>Got a question for us? Looking for video production, editing, or writing services? Drop us a line!</p>
    </div>
  </div>
  <form class="">
    <div class="row">
      <div class="small-12 large-6 columns">
        <label>Name
          <input type="text" placeholder="Name">
        </label>
      </div>
      <div class=" small-12 large-6 columns">
        <label>Email address
          <input type="email" placeholder="email address here!">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <label>What's up?
          <textarea placeholder="None"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <label>
          <input type="submit" value="Send!" class="button">
        </label>
      </div>

    </div>
  </form>

</section>
