<section class="main-section" id="contact">
  <p class="address"><strong>Pull-Start Pictures</strong><br>
  PO Box 364<br>
  North Haven, ME 04853<br>
  phone: (207) 613-4066<br>
  email: info@pull-start.com</p>
  <form class="">
    <div class="row">
      <div class="small-12 large-6 columns">
        <label><span class="sr-only">Name</span>
          <input type="text" placeholder="Name">
        </label>
      </div>
      <div class=" small-12 large-6 columns">
        <label><span class="sr-only">Email address</span>
          <input type="email" placeholder="Email address here!">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <label><span class="sr-only">What's up?</span>
          <textarea placeholder="What's up?" rows="9"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <label>
          <button type="submit" value="Send us a message!" class="button">Send us a message!</button>
        </label>
      </div>

    </div>
  </form>

</section>
