<div class="title-bar">
  <span class="title-bar-title"><strong><h4>Pull-Start</h4></strong></span>
  <div class="top-bar-right show-for-large">
    <ul class="menu">
      <li><a href="#portfolio">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#journal">Journal</a></li>
      <li><a href="#contact">Contact</a></li>
      {{>social-links }}
    </ul>
  </div>

  <div class="title-bar-right hide-for-large">
    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
  </div>
</div>
