<div data-sticky-container>
  <nav class="top-bar main-nav sticky" data-sticky data-options="marginTop:0; stickyOn:small;"  width="100%">
    <div class="top-bar-title">
      <strong>PULL-START</strong>
    </div>

    <div id="responsive-menu">
      <div class="top-bar-right">
        <ul class="horizontal menu">
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="show-for-medium"><a href="#about-us">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
