<div class="title-bar">
  <span class="title-bar-title"><strong><h4>Pull-Start</h4></strong></span>
  <div class="top-bar-right show-for-medium">
    <ul class="menu">
      <li><a href="#portfolio">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#journal">Journal</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="https://facebook.com/pullstartpictures"><i class="fi-social-facebook"></i><span class="sr-only">Facebook</span></a></li>
      <li><a href="#"><i class="fi-social-twitter"></i><span class="sr-only">Twitter</span></a></li>
    </ul>
  </div>

  <div class="title-bar-right hide-for-medium">
    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
  </div>
</div>
