<section class="portfolio" id="portfolio">
  <div class="row expanded">
    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="#">
        <div class="item-caption">
          <h4>The Search</h4>
          <p>In Production</p>
        </div>
        <div class="item-image">
          <img src="{{root}}/assets/img/portfolio/the-search.jpg" alt="">
          
        </div>
      </a>
    </div>
    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="#">
        <div class="item-caption">
          <h4>Aging on Islands</h4>
          <p>Web, 2016</p>
        </div>
        <div class="item-image">
          <img src="{{root}}/assets/img/portfolio/aging-on-islands.jpg" alt="">
          
        </div>
      </a>
    </div>
    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="#">
        <div class="item-caption">
          <h4>Betting the Farm</h4>
          <p>Feature documentary, 2012</p>
        </div>
        <div class="item-image">
          <img src="{{root}}/assets/img/portfolio/btf.jpg" alt="">
          
        </div>
      </a>
    </div>
    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="#">
        <div class="item-caption">
          <h4>The Search</h4>
          <p>In Production</p>
        </div>
        <div class="item-image">
          <img src="{{root}}/assets/img/portfolio/foy.jpg" alt="">
          
        </div>
      </a>
    </div>
    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="#">
        <div class="item-caption">
          <h4>The Search</h4>
          <p>In Production</p>
        </div>
        <div class="item-image">
          <img src="{{root}}/assets/img/portfolio/hospice.jpg" alt="">
          
        </div>
      </a>
    </div>
  </div>

</section>
