<section class="portfolio" id="portfolio">
  <div class="row expanded">
    <div class="small-12 medium-6 large-4 columns">
      <img src="{{root}}/assets/img/portfolio/the-search.jpg" alt="">
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img src="{{root}}/assets/img/portfolio/aging-on-islands.jpg" alt="">
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img src="{{root}}/assets/img/portfolio/btf.jpg" alt="">
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img src="{{root}}/assets/img/portfolio/foy.jpg" alt="">
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img src="{{root}}/assets/img/portfolio/hospice.jpg" alt="">
    </div>
  </div>

</section>
