<section class="portfolio" id="portfolio">
  <div class="row expanded">
    {{#each global.project}}

    <div class="small-12 medium-6 large-4 columns portfolio-item">
      <a href="{{project-slug}}.html">
        <div class="item-caption">
          <h4>{{project-title}}</h4>
          <p>{{project-status}}</p>
        </div>
        <div class="item-image">
          <img src="{{root}}assets/img/portfolio/{{project-image}}" alt="{{project-title}} image">

        </div>
      </a>
    </div>
    {{/each }}

  </div>

</section>
