<section class="main-section" id="projects">
  <div class="project-list-item">
    <div class="project-header">
      <div class="project-title">
        <h4>Betting the Farm <span>(2012, feature documentary)</span></h4>
      </div>
    </div>
    <div class="project-body">
      <div class="project-image">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/iejr3rWfoX4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="project-description">
        <p>Our first feature documentary, Betting the Farm premiered at the 2012 AFI Silverdocs film festival and went on to a nationwide festival run. It won the Audience Award at the 2012 Camden International Film Festival.</p>
        <p>A screening tour of Maine brought the film to 25 cities and towns around the state—many of which had rarely hosted theatrical screenings of a documentary before.</p>
      </div>
    </div>
  </div>

  <div class="project-list-item">
    <div class="project-header">
      <div class="project-title">
        <h4>Butterfly Man <span>(in production)</span></h4>
      </div>
    </div>
    <div class="project-body">
      <div class="project-image">
        <img src="{{root}}assets/img/slide-01.jpg">
      </div>
      <div class="project-description">
          <p>At 83, Dr. Lincoln P. Brower has studied Monarch butterflies longer than anyone on the planet. He first became enamored of butterflies as a five-year-old in New Jersey and later by Monarchs when he learned they don’t taste good to predators. His famous “Barfing Bluejay” photo proved their unpleasant taste to predators and always gets a chuckle when shared in presentations.</p>
      </div>
    </div>
  </div>

  <div class="project-list-item">
    <div class="project-header">
      <div class="project-title">
        <h4>Apple Picker<span> (in development)</span></h4>
      </div>
    </div>
    <div class="project-body">
      <div class="project-image">
        <img src="{{root}}assets/img/slide-02.jpg">
      </div>
      <div class="project-description">
        <p>We asked him whether he liked Maine. He said "I live in Jamaica."</p>
        <p>Touché.</p>
      </div>
    </div>
  </div>
</section>
