{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#ifpage 'index'}}Pull-Start Pictures | Maine-based documentary film production{{/ifpage}}
      {{#unlesspage 'index'}}{{title}} | Pull-Start Pictures{{/unlesspage}}</title>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind|Montserrat|Raleway:400,500,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f5aa39c4bf.js"></script>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> nav}}

    <div class="off-canvas-wrapper">

      <div class="off-canvas-absolute position-top" id="offCanvasLeft" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <nav>
          <ul class="menu vertical">
            {{>primary-nav }}
            <li>
              <ul class="submenu menu">
                {{>social-links }}
              </ul>
            </li>
          </ul>
        </nav>

      </div>

      <div class="off-canvas-content" data-off-canvas-content>

      {{> body}}
      {{> footer}}

      </div><!-- end off canvas content -->
    </div><!-- end off canvas wrap -->

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
