{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pull-Start Pictures</title>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind|Montserrat|Raleway:400,500,700" rel="stylesheet">
    <link href="{{root}}assets/foundation-icons/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> nav}}

    <div class="off-canvas-wrapper">

      <div class="off-canvas-absolute position-top" id="offCanvasLeft" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <nav>
          <ul class="menu vertical">
            <li><a href="#">Work</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Journal</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <ul class="submenu menu">
                <li><a href="https://facebook.com/pullstartpictures"><i class="fi-social-facebook"></i><span class="sr-only">Facebook</span></a></li>
                <li><a href="#"><i class="fi-social-twitter"></i><span class="sr-only">Twitter</span></a></li>
              </ul>
            </li>
          </ul>
        </nav>

      </div>

      <div class="off-canvas-content" data-off-canvas-content>

      {{> body}}
      {{> footer}}

      </div><!-- end off canvas content -->
    </div><!-- end off canvas wrap -->

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
